@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


body{
    background-color: rgb(1, 1, 44);
    }

.center{
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding:0 5%;
}
h2{
    color: #fff;
    margin-bottom: 1rem;
}
p{
    color: yellow;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
li{
    color:rgb(7, 189, 16);
}

h1{
    color: aqua;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
}